<div class="container">
    <div class="row justify-content-center">
        <div class="col-md">
            <table class="table table-bordered caption-top">
              <caption>List of Available Evtols</caption>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Model</th>
                  <th scope="col">Weight</th>
                  <th scope="col">State</th>
                  <th scope="col">Battery Capacity</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let evtol of evtols; let i = index">
                  <th name="'evtol'" scope="row"> {{ i + 1 }} </th>
                  <td >{{ evtol.model }}</td>
                  <td>{{ evtol.weight }}</td>
                  <td>{{ evtol.state }}</td>
                  <td>{{ evtol.batteryCapacity }}</td>
                  <td class="d-flex justify-content-between">
                    <a *ngIf="evtol.state == 'IDLE'"  [routerLink]="['/evtol', evtol._id]"><i class="bi-view-stacked text-primary"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>