<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/medicines">EVTOL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""><i class="bi-toggle-on text-primary"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 ms-auto mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/medicines" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Medicines
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/add-medicine">Add New Medicine</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/evtols" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Evtols
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/register-evtol">Register Evtol</a></li>
            </ul>
          </li>
          </ul>
        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
            <button *ngIf="!isLoggedIn()" type="button" class="btn btn-primary me-2" routerLink="/login">login</button>
            <button *ngIf="!isLoggedIn()" type="button" class="btn btn-success" routerLink="/register">register</button>
            <div *ngIf="isLoggedIn()" class="text-white">
              Welcome, <span class="fw-bold me-3">{{ userProfile$ | async }}</span>
              <button  type="button" class="btn btn-danger" (click)="logout()">logout</button>
            </div>
        </div>
      </div>
    </div>
  </nav>
  <p class="me-5" *ngIf="isLoggedIn()"></p>