
<div class="container-fluid section">
    <div class="row text-center">
        <div class="offset-md-3 col-md-6 offset-lg-4 col-lg-4">
            <h1 class="border-bottom fw-bold mb-4 mt-5">Login</h1>
            <form #loginForm="ngForm">
              <div class="mb-2">
                <input
                required
                  class="form-control"
                  placeholder="Enter a valid Email"
                  type="email"
                  name="email"
                  [(ngModel)]="email"
                />
    
              </div>
              <div class="mb-2">
                <input
                required
                  class="form-control"
                  placeholder="Enter a valid password"
                  type="password"
                  name="password"
                  [(ngModel)]="password"
                />
              </div>
    
              <div class="text-center">
                <button *ngIf="loading$ | async" type="button" [disabled]="true" class="btn btn-primary">loading...</button>
                <button *ngIf="!(loading$ | async)" [disabled]="loginForm.invalid" (click)="login()" type="submit" class="btn btn-primary">Sign in</button>
                <a routerLink="/add-user" class="btn btn-success ms-2">Register</a>
              </div>
    
              <div class="text-center mt-2">
                <a routerLink="/reset-password" class="btn btn-info">forgot password?</a>
              </div>
          
              
            </form>
        </div>
    </div>
</div>